parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Domain\\\\WriteModel\\\\Pokemon\\\\Pokemon\\:\\:__construct\\(\\) has parameter \\$abilities with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/WriteModel/Pokemon/Pokemon.php

		-
			message: "#^Method App\\\\Domain\\\\WriteModel\\\\Pokemon\\\\Pokemon\\:\\:__construct\\(\\) has parameter \\$moves with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/WriteModel/Pokemon/Pokemon.php

		-
			message: "#^Method App\\\\Domain\\\\WriteModel\\\\Pokemon\\\\Pokemon\\:\\:__construct\\(\\) has parameter \\$sprites with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/WriteModel/Pokemon/Pokemon.php

		-
			message: "#^Method App\\\\Domain\\\\WriteModel\\\\Pokemon\\\\Pokemon\\:\\:__construct\\(\\) has parameter \\$stats with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/WriteModel/Pokemon/Pokemon.php

		-
			message: "#^Method App\\\\Domain\\\\WriteModel\\\\Pokemon\\\\Pokemon\\:\\:__construct\\(\\) has parameter \\$types with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/WriteModel/Pokemon/Pokemon.php

		-
			message: "#^Method App\\\\Domain\\\\WriteModel\\\\Pokemon\\\\Pokemon\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/WriteModel/Pokemon/Pokemon.php

		-
			message: "#^Method App\\\\Domain\\\\WriteModel\\\\Vote\\\\Vote\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/WriteModel/Vote/Vote.php

		-
			message: "#^Expression in empty\\(\\) is always falsy\\.$#"
			count: 1
			path: src/Infrastructure/AMQP/Queue/AmqpQueue.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 2
			path: src/Infrastructure/Attribute/ClassAttributeCache.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Infrastructure/Attribute/ClassAttributeResolver.php

		-
			message: "#^Method App\\\\Infrastructure\\\\DependencyInjection\\\\ContainerBuilder\\:\\:__construct\\(\\) has parameter \\$containerBuilder with generic class DI\\\\ContainerBuilder but does not specify its types\\: ContainerClass$#"
			count: 1
			path: src/Infrastructure/DependencyInjection/ContainerBuilder.php

		-
			message: "#^Parameter \\#3 \\$containerParentClass of method DI\\\\ContainerBuilder\\<DI\\\\Container\\>\\:\\:enableCompilation\\(\\) expects class\\-string\\<DI\\\\CompiledContainer\\>, string given\\.$#"
			count: 1
			path: src/Infrastructure/DependencyInjection/ContainerBuilder.php

		-
			message: "#^Unable to resolve the template type T in call to method DI\\\\ContainerBuilder\\<DI\\\\Container\\>\\:\\:enableCompilation\\(\\)$#"
			count: 1
			path: src/Infrastructure/DependencyInjection/ContainerBuilder.php

		-
			message: "#^Cannot call method getName\\(\\) on ReflectionType\\|null\\.$#"
			count: 1
			path: src/Infrastructure/Eventing/EventListener/ConventionBasedEventListener.php

		-
			message: "#^Parameter \\#3 \\$depth of function Safe\\\\json_decode expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: src/Infrastructure/Serialization/Json.php
