<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true" colors="true" defaultTestSuite="unit" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <bootstrap class="RobinIngelbrecht\PHPUnitPrettyPrint\PhpUnitExtension">

    </bootstrap>
  </extensions>
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <file>src/Infrastructure/AMQP/AMQPStreamConnectionFactory.php</file>
    </exclude>
  </coverage>
</phpunit>
